<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Para iniciantes</title>

    <meta property="og:locale" content="pt-br" />
    <meta property="og:title" content="Guia básico para iniciantes" />
    <meta property="og:site_name" content="FrontInSampa"/>
    <meta property="og:description" content="Ajude a melhorar este guia, escrevendo, corrigindo ou aprimorando a experiência de uso, faça um FORK do projeto e mãos à obra."/>
    <meta property="og:url" content="http://tableless.github.io/iniciantes/"/>
    <meta property="og:image" content="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/12241582_1234615026564165_2418494012005650586_n.jpg?oh=4acde2a6495df9443e4ccf52c7997312&oe=56B67D88" />


    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css" media="screen and (min-width:800px)">
    <link rel="stylesheet" type="text/css" href="/iniciantes/assets/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/iniciantes/assets/javascripts/prettify/src/prettycss.css">
    <link rel="stylesheet" type="text/css" href="/iniciantes/assets/stylesheets/smallscreens.css" media="screen and (max-width:800px)">
  </head>

  <body>
    <a href="https://github.com/tableless/iniciantes" class="lnk-fork"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

    <header>
      <div class="limit">
        <h1><a href="/iniciantes/">Getting Started</a></h1>
        <h2>Um guia para iniciantes na área de web.</h2>
      </div>
    </header>
